#container {
    display: grid;
    width: 70vw;
    height: 70vw;
    max-width: 70vh;
    max-height: 70vh;
     
  }
  
  #container div {
    background-color: red;
    border-style: solid;
    border-color: black;
    height:100%;
    width:100%;
  }