#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    grid-template-rows: repeat(auto-fit, 100%);
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 500px;
}

#container div {
    border-style: solid;
    border-color: black;
    display: inline-block;
    vertical-align: top;
}